
*{
    font-family: 'Raleway', sans-serif;
}
*:not(div.card){
    background-color:#e6e6e6;
    color: #404040;

}


.title{
  font-family: 'Playfair Display', serif;
  font-size:80px;
}
.big-button{
  font-size:30px;
}
.delete-button{
    color:red;
}

.hidden {
    display:none;
}
.inline{
    display:inline;
}
.margin{
    margin:20px;
}
.margin-left{
    margin-left:20px;
}
.margin-top{
    margin-top:20px;
}

.message-body{
}
.message-link{
  cursor:pointer;
}
.middle-container{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.padding-left{
    padding-left:20px;
}
.padding-right{
    padding-right:20px;
    background-color:black;
}

.create-email-answers{
    font-style:italic;
}
#logo, #about{
    cursor:help;
}
#settings-icon{
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);}
#update-message-primary{
    padding:20px;
}
