.delete-button{
    color:red;
}
.inline{
    display:inline;
}
.margin-left{
    margin-left:20px;
}
.padding-left{
    padding-left:20px;
}
.create-email-caption{
    font-weight:bold;
}
#update-message-primary{
    padding:20px;
}
